.display--flex {
  display: flex;
}

.display--inline-flex {
  display: inline-flex;
}

.display--inline {
  display: inline-block;
}

.align--center {
  display: flex;
  align-items: center;
}

.justify-content--space-between {
  display: flex;
  justify-content: space-between;
}

.justify-content--space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.justify-content--center {
  display: flex;
  justify-content: center;
}

.justify-content--flex-end {
  display: flex;
  justify-content: flex-end;
}

.position--relative {
  position: relative;
}

.column--half-width {
  flex: 0 0 50%;
}

.column--one-third {
  flex: 0 0 33%;
}

.column--two-third {
  flex: 0 0 67%;
}

.height--full {
  height: 100%;
}

.min-height--auto {
  min-height: auto;
}

.width--full {
  width: 100%;
}

.width--half {
  width: 50%;
}

.width--one-third {
  width: 33%;
}

.flex--one {
  flex: 1;
}

.flex-direction--column {
  display: flex;
  flex-direction: column;
}

.flex-direction--row {
  display: flex;
  flex-direction: row;
}

.align-self--flex-end {
  align-self: flex-end;
}

.align-self--flex-start {
  align-self: flex-start;
}

.overflow-y--auto {
  overflow-y: auto;
}

.rotate--180 {
  transform: rotate(180deg);
}

.padding--none {
  padding: 0 !important;
}

.padding-top--none {
  padding-top: 0 !important;
}
