
.upload-image{
    width: 150px !important;
    height: 150px !important;
    // position: absolute;
    // top: 80px;
    z-index: 1000;
}

.profile-block{
    // overflow: visible;
}

.profile-block .dropdown-menu-header .menu-header-content {
    padding: 0rem;
    // height: 200px;
}
