.form-datepicker{
    .input-group-text{
        background: none;
        border: none;
        height: 30px;
        position: absolute;
        left: 14px;
        top: 35px;
        z-index: 100;
    }

    .form-field__datepicker{
        padding-left: 45px;
        display: inline-block;
        width: 100%;
        // height: calc(1.5em + 0.75rem + 2px);
        // padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }

    .react-datepicker__day:hover {
        background-color: red;
        color: #fff;
    }
}